[submodule "Vendor/AFNetworking"]
	path = Vendor/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking
[submodule "Vendor/Base64"]
	path = Vendor/Base64
	url = https://github.com/nicklockwood/Base64
[submodule "Vendor/Audjustable"]
	path = Vendor/Audjustable
	url = https://github.com/tumtumtum/audjustable
[submodule "Vendor/MDBlurView"]
	path = Vendor/MDBlurView
	url = https://github.com/mochidev/MDBlurView.git
[submodule "Vendor/CJUtils"]
	path = Vendor/CJUtils
	url = git@github.com:cjlucas/cjutils-objc.git
[submodule "Vendor/CJAudioPlayer"]
	path = Vendor/CJAudioPlayer
	url = git@github.com:cjlucas/CJAudioPlayer.git
